body{
    background-color: #ebe8e8;
    font-family: Arial, sans-serif;
}

.container {
    width: 270px;
    background-color: white;
    margin: 40px auto;
    border-radius: 8px;
    text-align: center;

}

#content-container{
    padding: 10px;
}

#card-img{
    width: 100%;
    /* object-fit: cover; */
    border-radius: 8px 8px 0 0;
}

#card-description{
    color: grey;
}

#card-button{
    color: white;
    background-color: black;
    border-color: black;
    border-style: none;
    padding: 3px 6px;
    border-radius: 2px;

}