
body{
    background-color: rgb(229, 227, 227);
    padding: 0px;

}
.container{
    max-width: 300px;
    margin: 20px auto;
    margin-top: 50px;
    padding: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.todo-list{
    list-style: none;
    padding: none;
    margin: none;
    padding-inline-start: 0px;
    /* background-color: rebeccapurple; */
}

.item{
    background-color: rgb(209, 248, 209);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    line-height: 40px;
    margin-left: 0px;
}



.sub-item{
    list-style-type: square;
}

.sub-item-link{
    text-decoration: none;
}

a:link{
    color:blue;
}
a:hover{
    color: red;
}
a:focus{
    color: aqua;
    outline: 3px solid #38bdf8;
}
a:active{
    color: black;
}
a:visited{
    color: purple;
}

h1{
    text-align: center;
}






